body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background: #f0f2f5;
    
}


.container {
    background: #f0f2f5;
    padding-top: 72px;
    padding-bottom: 112px;
    
}

.content {
    width: 980px;
    margin: 20px auto;

}

.content > div {	
    display: inline-block;
    vertical-align: top;
        
}

.left-content{
    width: 580px;
    padding-right: 32px;
    box-sizing: border-box;
    display: flex;
    align-items: stretch;
    
}

.logo{
    width: 200px;
    line-height: 0em;
    height: 106px;
    margin: -21px;
}

.left-content p {
    line-height: 0.1em;
}

.left-content .h1log {
    font-size: 1.9em;
}

.click {
    font-size: 1.1em;
    color: grey;
}

.pics {
    margin-top: 30px;
    width: 160px;
    background-color: white;
    border-radius: 6px;
    padding-bottom: 3px;
    cursor: pointer;
}

.pics:hover {
    box-shadow:2px 2px 4px 2px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    transition: 0.3s;
}

.pics .close-btn {
    width: 18px;
    padding-left: 5px;
    position: absolute;
    margin-top: 3px;
    opacity: 35%;
}

.pics .img {
    width: 160px;
    
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.pics p {
    font-size: 20px;
    display: flex;
    justify-content: center;
    color: #474242;

}

.more-btn {
    
    width: 160px;
    height: 158px;
    background-color: white;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    padding-bottom: 3px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 180px;
    margin-top: -210px;
    border: solid #d9dadb 1px ;
    background: #f5f6f7;
       
}

.add {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-size: 20px;
    text-decoration: none;
    color: #1877f2;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    padding-top: 12px;
    width: 162px;
    margin-left: 180px;
    padding-bottom: 12px;
    
}

.pics:hover {
    box-shadow:2px 2px 4px 2px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    transition: 0.3s;
}

.more-btn:hover {
    box-shadow:2px 2px 4px 2px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    transition: 0.3s;
}

.more-btn .icon { 
    width:42px;
}

.card {
    background: #fff;
    width: 396px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    padding: 10px 15px;
    box-sizing: border-box;
    margin-top: 40px;
    height:350px;
}
.form {
    display: grid;
    grid-row-gap: 1em;
}
.form input {
   outline: none;
   width: 100%;
   padding: 14px 16px;
   box-sizing: border-box;
   border: 1px solid #dddfe2;
   border-radius: 6px;
   margin: 5px 0;
   font-size: 17px;
}

.login-btn {
    width: 100%;
    align-items: center;
    outline: none;
    padding: 14px 16px;
    box-sizing: border-box;
    border: 0;
    border-radius: 6px;
    margin: 5px 0;
    font-size: 20px;
    background-color: #1877f2;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.login-btn:hover {
    background-color:  #166fe5;
}

.forget-pass a {
    text-decoration: none;
    color: #1877f2;
    display: grid;
    justify-content: center;
    padding: 6px;
}

.line {
    border-bottom: 1px solid #dddfe2;
    margin-top: 3vh;
    margin-bottom: 3vh;
    width: 100%;
}

.create-btn {
    width: 45%;
    align-items: center;
    outline: none;
    padding: 14px;
    box-sizing: border-box;
    border: 0;
    border-radius: 6px;
    font-size: 17px;
    background-color: #42b72a;
    color: white;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 10px;
}

.create-btn:hover {
    background-color: #36a420;
    transition: 0.3s;
}

.create-pg{
    color: #000;
    text-align: center;
    margin-top: 50px;
    width: 100%;
    padding: 0px;
}

.create-pg > a{
    text-decoration: none;
    font-weight: 600;
    color: #000;
}

.f-lg-footer{
    padding-top: 80px;
    width: 980px;
    margin: 30px auto;
    background-color: 
}

.f-lg-footer > ul{
    margin-bottom: 10px;
    margin-top: 10px;
}

.f-lg-footer > ul > li{
    display: inline-block;
    margin: 0 5px;
}

.f-lg-footer > ul > li > a{
    text-decoration: none;
    color: #777;
    font-size: 12px;
}

.fix-m-header{
    background: #fffbe2;
    color: #3b5998;
    text-align: center;
    height: 50px;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    display: none;
}

.fix-m-header > span,
.fix-m-header > img{
    vertical-align: top;
}

.fix-m-header > span{
    line-height: 50px;
}

.fix-m-header > img{
    position: relative;
    top: 10px;
}

.m-footer{
    display: none;
}